*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body>header{
    background-color: rgb(0, 0, 0);
    padding: 16px 0px 16px 0px;
    color: azure;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: white;
    padding: 8px;
    text-decoration: none;
}

header li a:hover{
    color: rgb(255, 0, 0);
    padding: 8px;
    text-decoration: underline;
}

.container{
    width: 1366px;
    margin: 0 auto 0 auto;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img{
    /*height: 180px;*/
    width: 100%;
    height: 40%;
}

.article article{
    width: 30%;
}

section{
    padding: 16px 0px;
}

section h2,
.article article {
    margin-bottom: 16px;
}

.article article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.article article a{
    background-color: brown;
    color: white;
    padding: 4px 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.article article a:hover{
    text-decoration: underline;
    background-color: rgba(0, 230, 0, 1)
}

.article article p,
.article article a {
    font-family: Arial, Helvetica, sans-serif;
}

.article article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#esportes {
    background-color: rgba(0, 255, 0, 0.2);
}

.article article a {
    background-color: rgba(0, 255, 0, 0.9);
}

#economy{
    background-color: rgba(0, 165, 200, 0.2);
}

#economy .article article a {
    background-color: rgba(72, 80, 0, 0.9);
}

#entretenimento{
    background-color: rgba(0, 100, 200, 0.2);
}

#entretenimento .article article a {
    background-color: rgba(0, 100, 200, 0.9);
}

#tecnologia{
    background-color: rgba(13, 140, 140, 0.2);
}

#tecnologia .article article a {
    background-color: rgba(13, 140, 140, 0.9);
}